body {
  font-family: Google Sans, arial, sans-serif;
}

h1 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  line-height: 21px;
}

li {
  list-style: none;
  font-size: 14px;
  color: black;
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 15px;
}
.Weather-App-wrapper {
  max-width: 300px;
  margin: 0;
}

.Weather-App {
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 200px;
  height: 50px;
  width: 50px;
}

.weather-temperature strong {
  color: black;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature Units {
  position: relative;
  font-size: 16px;
  top: -32px;
}
