body {
  font-family: Google Sans, arial, sans-serif;
}
.Weather-App {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}

h1 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  line-height: 21px;
}

li {
  list-style: none;
  font-size: 14px;
  color: black;
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 15px;
}
